@import url('https://fonts.googleapis.com/css2?family=Lato&family=Questrial&display=swap');  

* {
    background-color: aliceblue;
}
.titlestyle{
    font-family: 'Questrial', sans-serif;
    color:#363d36;
    background-color: #233D4D;
    box-sizing: border-box; padding: 25px;
}

.H1style{   
    font-family: 'Questrial', sans-serif;
    color:#63728D;
    
    box-sizing: border-box; padding: 25px;
    text-align: center
}
.H2style{   
    font-family: 'Questrial', sans-serif;
    color:#424874;
    
    box-sizing: border-box; padding: 25px;
    text-align: center
}
.pstyle{
    font-family: 'Lato', sans-serif;
    
    box-sizing: border-box; padding: 25px;
    text-align: center
}
.center { text-align: center;}